*{
    margin:0px;
    padding:0px;
    font-family:Microsoft YaHei;
    font-weight:bold;
}
html,body{
    width:100%;
    height:100%;
    min-width: 1270px;
}
#portal{
    width:100%;
    height:100%;
    background-color: #F5F5F5;
}
        .head{
            min-height: 45px;
            background-color: #FFFFFF;
            height: 7%
        }
        .content{
            width:80%;
            margin:0px auto;
            height:60px;
            height: 100%;
           /* max-width: 1700px;*/
        }
        .head-img{
            width:170px;
            height: 35px;
            margin: 0.6% 0px;
            cursor:pointer;
        }
        .head-img img{
            width:100%;
            height:100%;
        }
        .head_div{
            float: left;
        }
        .head-content{
            width:70%;
            height:35px;
            margin:1% 0px 11.5px auto;
            float: right;
        }
        .head_ul{
            width: 100%;
            height: 100%;
        }
        .head_ul li{
            list-style: none;
            float: left;
            line-height: 35px;
            width: 12.5%;
            text-align: center;
            word-break:keep-all;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            cursor:pointer;
            font-size: 14px;
            font-weight: 400;
            color: #333333;

        }
        .head_ul .selected{
            color:#0050FF;
        }
.modular{
    width:80%;
    margin:1% auto;
    height:86%;
    min-height: 490px;
    max-height: 850px;
    max-width: 1350px;
}
.modular-content{
    min-height:420px;
    width:100%;
    height: 79%;
    display: flex;
}
.modular-content .modular-column{
    float: left;
    width:30%;
    height: 100%;
}
.modular-content .modular-column:nth-child(2){
    margin:0px 10px;
    width: 40%;
}
.modular-content .modular-column:nth-child(1){
    width:27%;
    margin-top: 0px;
}
.modular-content .modular-column:nth-child(3){
    width:30%;
}
.emp-info{
    width: 100%;
    min-height: 66px;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 15%;
}
.emp-info-div{
    float: left;
    height: 100%;
    width:25%;
}
.emp-info-headImg{
    width: 50px;
    height:53px;
    margin: 10% auto;
    border-radius: 50%;
}
        .emp-info-headImg img{
            width:100%;
            height:100%;
            cursor:pointer;
        }
        .emp-info-text{
            width: 70%;
        }
        .emp-info-name{
            height:50%;
        }
        .emp-info-label{
            width:100%;
            height:60px;
            margin: 4% auto;
        }
        .name-div{
            height:100%;
            float: left;
            line-height: 30px;
            font-size: 12px;
            font-weight:bold;
        }
        .namelabel{
            color: #333333;
            font-size: 12px;
            cursor:pointer;
        }
        .name{
            color: #a7a5a5;
            font-size: 12px;
            cursor:pointer;
        }
        .emp-info-dep{
            background-color: #666;
        }
        .emp-info-dep .emp-div{
            float:left;
            font-size: 12px; 
            line-height: 30px;
        }
        .position{
           color:#333333;
           cursor:pointer;
        }
.positionlabel{
    color:#a7a5a5;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:pointer;
    text-align: left;
}
        .position-more{
            color:#a7a5a5;
            float:right;
            cursor:pointer;
            position: absolute;
            right: 0px;
        }
        .workflow{
            margin-top: 2%;
            min-height: 175px;
            border-radius: 10px;
            background-color: #FFFFFF;
            height: 42%;
        }
        .workflow_ul{
            height: 100%;
            border-radius: 10px;
        }
        .workflow_ul li{
            list-style: none;
            float: left;
            width:33%;
            height:50%;
        }
        .workflow-img{
            width: 43px;
            height: 43px;
            margin:12% auto;
            cursor:pointer;
        }
        .workflow-text{
            width:100%;
            text-align: center;
            height:20px;
            font-size: 12px;
            line-height: 20px;
            color: #333333;
            cursor:pointer;
            margin-top: 5px;
        }
        .workflow-img img{
            width:100%;
            height: 100%;
        }
a{
    text-decoration-line: none;
}
.opportunity{
    /*margin-top: 10px;*/
    margin-top: 2%;
    min-height: 160px;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 37%;
}
.opportunity-title{
    min-height: 30px;
    border-radius: 10px 10px 0px 0px;
    height:18%;
}
.opportunity-title-div{
    float: left;
    height: 30px;   
}
.opportunity-title-name{
    font-size: 14px;
    line-height: 30px;
    height: 100%;
    text-indent: 10px;
    color: #333333;
    cursor:pointer;
    text-align:left;
}
.opportunity-title-more{
    width: 60px;
    font-size: 12px;
    line-height: 30px;
    color: #a7a5a5;
    cursor:pointer;
    float: right
}
.opportunity-list{
    height: 81%;
}
.opportunity-list-ul{
    height: 100%;
}
.opportunity-list-ul li{
    list-style: none;
    min-height: 20px;
    height: 16.6%;
    letter-spacing: 0.5px;
}
.opportunity-text{
    font-size: 12px;
    color: #666666;
    line-height: 20px;
    cursor:pointer;
    text-indent: 10px;
}
.opportunity-list-div{
    float: left;
    display:block;
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
           
}
.opportunity-status{
    width: 15%;
    font-size: 12px;
    line-height: 20px;
    color: #FF0000;
    margin-left: 5px;
    font-weight: 500;
}
a:link,a:visited{
    color:#666666;
    text-decoration:none;
    font-weight: 500;
}
a:hover{color:#ff0000;}
.wheel{
    width: 99%;
    min-height:250px;
    border-radius: 10px;
    height: 59%;
}
.HRinfo{
    width: 100%;
    height:160px;
    margin-top:1.5%;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 37.5%;
}
.calendar_warp{
    min-height:190px;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 45%
}
.HonorRoll{
    margin-top: 2%;
    min-height: 120px;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 28%;
}
.BirthdayList{
    margin-top: 2%;
    height:90px;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 21%;
}
.modular-footer{
   margin-top: 0px;
   height:100px;
   border-radius: 10px;
   background-color: #FFFFFF;
   height: 20%;
   width: 99%; 
}
.menu{
    width:56px;
    height:260px;
    position: fixed;
    right: 5px;
    top: 30%;
}
.QRcode-img{
    width:56px;
    height: 56px;
}
.QRcode-label{
    width: 56px;
    height: 15px;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    line-height: 15px;
    font-weight: 400;
}
.help{
    margin-top: 10px;
}
.help-img{
    width:56px;
    height: 56px;
    margin-top: 10px;
}
.help-label{
    width: 56px;
    height: 15px;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    line-height: 15px;
    font-weight: 400;
}
.system{
    margin-top: 10px;
}
.system-img{
    width:56px;
    height: 56px;
    margin-top: 10px;
}
.system-label{
    width: 56px;
    height: 15px;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    line-height: 15px;
    font-weight: 400;
}
.menu-img{
    width:100%;
    height: 100%;
}
.footer-title{
    border:1px solid red;
    height: 25px;
    font-size: 14px;
}
.footer-title-label{
    line-height: 25px;
}
.footer-title-div{
    float: left;
}
.footer-title-more{
    line-height: 25px;
    font-size: 14px;
}
.left{
    width: 100%;
}
.Birthday{
   /* border:1px solid red;*/
    width:10px;
    height: 10px;
}
.emp_img{
    height:95%;
    padding-left:10px;
    margin-top: 1%
}
.emp_img img{
    height: 100%;
}
.birthday_list{
    display: flex;
    height: 60%;
}
.birthday_warp{
    width:50%;
    height:100%;
    display: flex;
}
.emp_text{
    text-align: left;
    color: #666666;
    font-weight: normal;
    cursor: pointer;
    padding-left: 5px;
    height: 100%;
    font-size: 10px;
}
.emp_text div:nth-child(2),.emp_text div:nth-child(3){
    font-weight: 500;
}
.emp_text div{
    height: 33%;
    line-height: 18px;
    max-width: 135px;
    text-overflow:ellipsis;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    display: block;
}
.rylist{
    height: 90%;
}
.rylist li{
    height: 25%;
}

 a {
            text-decoration: none;
        }
        ul, ol, li {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        #demo {
            width: 380px;
            margin: 150px auto;
        }
        p {
            margin: 0;
        }
        #dt {
            margin: 30px auto;
            height: 28px;
            width: 200px;
            padding: 0 6px;
            border: 1px solid #ccc;
            outline: none;
        }
.none{
    display: none
}
.foot_list{
    height: 65%;
}
.foot_ul{
    height: 100%;
    display: flex;
    padding-left: 10px;
}
.foot_ul li{
    width:12.5%;
    height:100%
}
.foot_ul li img{
    width: 95%;
    height: 100%;
}
.emp-info-dep{
    position: relative;
}